<div class="panel anychat-config-panel panel-default hidden" id="anychat-help-tab">
    <div class="panel-heading">
        <h3 class="panel-title">{{ help }}</h3>
    </div>
    <div class="panel-body">
        <dl>
            <div class="ui segment">
                <dt>1</dt>
                <dd>
                    <p>
                        {{ ahychat_h1 }}
                    </p>
                    <p>
                        {{ ahychat_h2 }}
                    </p>
                </dd>
            </div>
        </dl>
        <dl>
            <div class="ui segment">
                <dt>2</dt>
                <dd>
                    <p>
                        {{ ahychat_h3 }}
                        <img class="img-responsive" src="view/image/anychat/01.png" alt="Widgets settings" />
                    </p>
                    <p>
                        {{ ahychat_h4 }}
                        <img class="img-responsive" src="view/image/anychat/02.png" alt="Widget domains" />
                    </p>
                </dd>
            </div>
        </dl>
        <dl>
            <div class="ui segment">
                <dt>3</dt>
                <dd>
                    <p>
                        {{ ahychat_h5 }}
                        <img class="img-responsive" src="view/image/anychat/03.png" alt="Widgets settings" />
                    </p>
                    <p>
                        {{ ahychat_h6 }}
                        <img class="img-responsive" src="view/image/anychat/04.png" alt="Widgets script code" />
                        {{ ahychat_h7 }}
                    </p>
                </dd>
            </div>
        </dl>
        <dl>
            <div class="ui segment">
                <dt>4</dt>
                <dd>
                    <p>
                        {{ ahychat_h8 }}
                    </p>
                    <p>
                        {{ ahychat_h9 }}
                        <img class="img-responsive" src="view/image/anychat/05.png" alt="Widgets script code" />
                    </p>
                    <p>
                        {{ ahychat_h10 }}
                        <img class="img-responsive" src="view/image/anychat/06.png" alt="API Key" />
                    </p>
                </dd>
            </div>
        </dl>
        <dl>
            <div class="ui segment">
                <dt>5</dt>
                <dd>
                    <p>
                        {{ ahychat_h11 }}
                    </p>
                </dd>
            </div>
        </dl>
        <dl>
            {{ ahychat_h12 }}
        </dl>
    </div>
</div>